@model TP2MVC.Models.Student

@{
    ViewBag.Title = "Detail";
}

@section Header
{
    <h1>Mon Header !!! @DateTime.Now.ToString("D")</h1>

}

<h2>Detail</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
                        @Html.DisplayNameFor(model => model.Email)
                        <a href="~/Views/Student/Detail.cshtml">~/Views/Student/Detail.cshtml</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPaid)
        </dd>

    </dl>
</div>
<p>

</p>
