@model TP2MVC.ViewModels.DetailViewModel

@{
    ViewBag.Title = "Detail";
}

@section Header
{
    <h1>Mon Header !!! @DateTime.Now.ToString("D")</h1>

}

<h2>Detail</h2>

<div>
    <h1>@Model.Student.Name</h1>
    <h1>@Model.School</h1>
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Email)
            <a href="~/Views/Student/Detail.cshtml">~/Views/Student/Detail.cshtml</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.HasPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.HasPaid)
        </dd>

    </dl>
</div>
<p>

</p>
